{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-sm-4">
    <h4 class="text-centre alert alert-info">Ajouter un nouveau  personne</h4>
       <form action=" " method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <input  type="submit" class="btn btn-success" value="Ajouter" >
  </form>
      </div>
    <div class="com-sm-7 offset-1">
        <h4 class="text-centre alert alert-info">Montrer les information des personnes </h4>
        {% if per %}
        <table class="table table-hover" >
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Email</th>
        <th scope="col">Password</th>
          <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {%for pr in per %}
    <tr>
      <th scope="row">{{ pr.id }}</th>
      <td>{{ pr.nom }}</td>
      <td>{{ pr.prenom }}</td>
      <td>{{ pr.email }}</td>
        <td>{{ pr.password }}</td>
        <td>
            <a href="{% url 'update_personne' pr.id %}" class="btn btn-warning btn-sm">Modifier</a>
            <form action="{% url 'delete_personne' pr.id  %}" methode="POST" class="d-inline">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="Suprimer">
            </form>
        </td>
    </tr>
   {% endfor %}
  </tbody>
</table>

        {% else %}
        <h4 class="text-centre alert alert-warning"> Pas d 'enregistrement</h4>
        {% endif %}
    </div>
</div>


{% endblock %}
