<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Liste des personnes</title>
</head>
<body>
<h1>Liste des personnes</h1>
<table>
    <thead>
    <tr>
        <th>ID</th><th>Nom</th><th>Prénom</th><th>Email</th><th>Password</th>
    </tr>
    </thead>
    <tbody>
    {% for personne in personnes %}
    <tr>
        <td>{{personne.id}}</td>
        <td>{{personne.nom | upper}}</td>
        <td>{{personne.prenom | upper}}</td>
        <td>{{personne.email}}</td>
        <td>{{personne.password}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>