{% extends 'base.html' %}

{%block title %}

Personne | Modification

{%endblock%}
{%block content%}
<div class="row">
    <div class="col-sm-8" offset-2>
 <h4 class="alert alert-info"> Modifier les données de la personne :{{personne.nom|upper}}</h4>
<form action="" method="post">
    {%csrf_token%}
    {{form.as_p}}
    <input type="submit" class="btn btn-success" value="Modifier">
    <a href="{% url 'create_personne' %}" class="btn btn-info">Page precédent</a>
    </form>
    </div>
</div>
  {%endblock%}